# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Debug files
*.log

# Optional npm cache
.npm

# Optional REPL history
.node_repl_history

# Build output (ako koristiš transpiler poput Babel ili TypeScript)
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
